body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Courier";
  font-weight: bold;
}

p {
  color: black;
  font-family: "Courier";
  margin: 10px 0 0 0px;
  overflow: hidden;
}

.bgGif {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

.title {
  position: absolute;
  left: 0%;
  top: 10%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-size: 50px;
  text-align: center;
  font-family: "Courier";
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

.star {
  position: absolute;
  top: 35%;
  left: 41%;
  width: 300px;
}

.star:hover {
  transform: scale(2.0);
  transition: transform 0.5s;
}

.musicOn {
  position: absolute;
  top: 0;
  right: 0;
  /* make it smaller */
  transform: scale(0.8);
}
